.color-square {
   position: relative;

   overflow: hidden;

   border-radius: 12px;

   aspect-ratio: 1 / 1;
   height: auto;
   width: 100%;
}

.pointer {
   position: absolute;
   transform: translate(-50%, -50%);

   pointer-events: none;

   min-height: 14px;
   min-width: 14px;

   border-radius: 9999px;
   border: 2px solid white;

   cursor: pointer;

   box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
