.button {
   background-color: transparent;
   border: none;

   cursor: pointer;
}

.button:disabled {
   cursor: not-allowed;
}

.button:disabled .icon {
   color: gray;
}

.icon {
   width: 16px;
   height: 16px;

   color: white;
}
