.button {
   background-color: transparent;
   border: none;

   cursor: pointer;

   padding-inline: 0px;
   padding-block: 0px;

   line-height: 0;
}

.button:disabled {
   cursor: not-allowed;
}

.button:disabled .icon {
   color: gray;
}

.icon {
   width: 16px;
   height: 16px;

   color: white;
}
