:root {
   --grey: #a7b1c8;
   --light-grey: #d2d2e0;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

   box-sizing: border-box;

   padding: 8px;

   border: 1px solid var(--light-grey);
   border-radius: 8px;

   background-color: white;
}

.icon {
   width: 14px;

   color: black;
}

.input-wrapper {
   display: flex;
   gap: 1px;

   width: 54px;

   box-sizing: border-box;

   cursor: text;
}

.input {
   font-size: 16px;
   font-family: 'Sora', sans-serif;
   font-weight: 400;

   field-sizing: content;

   border: none;

   background-color: transparent;

   padding-inline: 0;
   padding-block: 0;

   line-height: 0;

   outline: none;
}

.input:is(:focus, :focus-visible) {
   outline: none;
}

.degree {
   line-height: 0.75;
}

.steppers {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2px;
}

.stepper-button {
   background-color: transparent;
   border: none;

   padding-inline: 0;
   padding-block: 0;

   line-height: 0;

   cursor: pointer;
}

.stepper-button.decrement {
   transform: rotate(180deg);
}

.stepper-button svg {
   width: 8px;

   color: var(--grey);
}
