.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

   box-sizing: border-box;

   padding: 8px;

   border-radius: 8px;

   background-color: rgba(255, 255, 255, 0.3);
}

.label {
   color: white;

   font-size: 12px;
}

.input-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1px;

   box-sizing: border-box;

   cursor: text;

   font-size: 12px;
}

.input {
   field-sizing: content;

   background-color: transparent;

   border: none;

   padding: 0;

   line-height: 0;

   color: white;
   font-size: inherit;

   outline: none;
}

.input:is(:focus, :focus-visible) {
   outline: none;
}

.suffix {
   line-height: 1;

   color: white;

   font-size: inherit;
}

.icon {
   width: 14px;

   color: white;
}

.steppers {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2px;
}

.stepper-button {
   background-color: transparent;
   border: none;

   padding-inline: 0;
   padding-block: 0;

   line-height: 0;

   cursor: pointer;
}

.stepper-button.decrement {
   transform: rotate(180deg);
}

.stepper-button svg {
   width: 8px;

   color: white;
}
