@reference '#styles';

html,
body {
   @apply m-0 h-dvh w-full p-0;
}

body {
   @apply flex flex-col items-center justify-start;
}

* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
p {
   @apply m-0 p-0;
}

input,
textarea,
button,
select,
a {
   -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important; /* Replace #ffffff with your desired background color */
   -webkit-text-fill-color: #000000 !important; /* Optional: Adjust text color if needed */
}
