.main {
   background-color: #121212;

   width: 100%;
   flex: 1;

   display: flex;
   align-items: center;
   justify-content: center;
}

.gradient-picker-wrapper {
   gap: 8px;

   width: 300px;
}

.hue-slider-wrapper {
   border: 1px solid white;
}

.alpha-slider-wrapper {
   border: 1px solid white;
}

.actions,
.slider {
   box-sizing: border-box;

   display: flex;
   align-items: center;
   justify-content: space-between;

   gap: 8px;
}

.right {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 16px;
}
