.main {
   background-color: #121212;

   width: 100%;
   flex: 1;

   display: flex;
   align-items: center;
   justify-content: center;
}

.gradient-picker-wrapper {
   gap: 8px;
}

.gradient-slider-wrapper {
   margin-top: 20px;

   border-radius: 0px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

.hue-slider-wrapper {
   border-radius: 0px;
   border: 1px solid white;
}

.alpha-slider-wrapper {
   border-radius: 0px;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;

   border: 1px solid white;
}
