.wrapper {
   position: relative;

   height: 20px;
   width: 100%;

   border-radius: 9999px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.thumb {
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);

   box-sizing: border-box;

   width: 24px;
   height: 24px;

   border-radius: 9999px;
   border: 4px solid white;

   shadow: 0 0 2px rgba(0, 0, 0, 0.6);

   cursor: ew-resize;
}

.canvas {
   border-radius: inherit;
}
