@reference '#styles';

.slider {
   @apply relative h-5 w-full;
   @apply rounded-full border border-solid border-white;
}

.bg {
   @apply absolute inset-0 rounded-full;
}

.checker {
   background-size: 12px 12px;
   background-position:
      0 0,
      6px 6px;
   background-image:
      linear-gradient(
         45deg,
         rgba(0, 0, 0, 0.12) 25%,
         transparent 25%,
         transparent 75%,
         rgba(0, 0, 0, 0.12) 75%,
         rgba(0, 0, 0, 0.12)
      ),
      linear-gradient(
         45deg,
         rgba(0, 0, 0, 0.12) 25%,
         transparent 25%,
         transparent 75%,
         rgba(0, 0, 0, 0.12) 75%,
         rgba(0, 0, 0, 0.12)
      );
}

.gradient {
   @apply absolute inset-0 rounded-full;
}

.stop {
   @apply aspect-square h-6 cursor-pointer;
   @apply box-border rounded-full border-4 border-solid border-white;
   @apply absolute top-1/2 -translate-x-1/2 -translate-y-1/2;

   transition: border-width 0.2s ease-in-out;
}

.inner {
   @apply size-full rounded-full;
}

.stop.active {
   @apply border-8 border-white;
}

.canvas {
   @apply absolute inset-0;
   pointer-events: none;
   border-radius: inherit;
}
