.slider {
   position: relative;

   height: 20px;
   width: 100%;

   border-radius: 9999px;
   border: 1px solid white;
}

.bg {
   position: absolute;
   inset: 0;

   border-radius: 9999px;
}

.checker {
   background-size: 12px 12px;
   background-position:
      0 0,
      6px 6px;
   background-image:
      linear-gradient(
         45deg,
         rgba(0, 0, 0, 0.12) 25%,
         transparent 25%,
         transparent 75%,
         rgba(0, 0, 0, 0.12) 75%,
         rgba(0, 0, 0, 0.12)
      ),
      linear-gradient(
         45deg,
         rgba(0, 0, 0, 0.12) 25%,
         transparent 25%,
         transparent 75%,
         rgba(0, 0, 0, 0.12) 75%,
         rgba(0, 0, 0, 0.12)
      );
}

.gradient {
   position: absolute;
   inset: 0;

   border-radius: 9999px;
}

.stop {
   transition: border-width 0.2s ease-in-out;

   aspect-ratio: 1 / 1;
   height: 24px;

   cursor: pointer;

   box-sizing: border-box;

   border-radius: 9999px;
   border: 4px solid white;

   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}

.inner {
   width: 100%;
   height: 100%;

   border-radius: 9999px;
}

.stop.active {
   border: 8px solid white;
}

.canvas {
   position: absolute;
   inset: 0;

   pointer-events: none;

   border-radius: inherit;
}
