:root {
   --grey: #a7b1c8;
   --light-grey: #d2d2e0;
}

.wrapper {
   width: 240px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.map-item {
   width: 100%;
}
