.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.button {
   background-color: transparent;
   border: none;
   border-radius: 4px;

   line-height: 0;

   cursor: pointer;

   box-sizing: border-box;

   padding-block: 0px;
   padding-inline: 0px;
   padding: 4px;
   margin: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: background-color 0.2s ease-in-out;
}

.button.active {
   background-color: #007acc;
}

.icon {
   width: 16px;
   height: 16px;

   color: white;

   transition: color 0.2s ease-in-out;
}
